@tailwind base;
@tailwind components;
@tailwind utilities;

.avalanche-fundamentals, .multi-chain-architecture, .teleporter-token-bridge, .teleporter {
  --primary: 0 100% 50%;
}

.dark .avalanche-fundamentals, .dark .multi-chain-architecture, .dark .teleporter-token-bridge, .dark .teleporter {
  --primary: 0deg 92% 76%;
}

/* List items in prose */
.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  color: #E84142;
}

.uwu {
  --background: 240 80% 94% !important;
  --popover: 240 80% 94% !important;
  --primary: 230 90% 72% !important;
  --border: 230 30% 87% !important;
  --accent: 250 80% 90% !important;
  --secondary: 230 40% 94% !important;
  --muted: 230 80% 92% !important;
  --card: 230 90% 94% !important;
}

.uwu.dark {
  --background: 240 40% 20% !important;
  --popover: 240 20% 20% !important;
  --primary: 250 70% 94% !important;
  --border: 230 30% 30% !important;
  --muted: 230 30% 36.3% !important;
  --secondary: 250 30% 36.3% !important;
  --accent: 250 20% 38.3% !important;
  --muted-foreground: 230 80% 84% !important;
  --card: 230 40% 26.3% !important;
}

/* Fix padding bug in Code block */
.nd-codeblock .highlighted {
  padding: 0 16px;
}

svg.lucide {
  color: #3752AC;
}

.my-6 > svg.lucide {
    color: #fff;
}
